@use  "./variables" as var;

@mixin mediaQuery($size) {
  @media (min-width: map-get(var.$breakpoints, $size)) {
    @content;
  }
}

@mixin displayFlex($flow, $alignItems, $justContent) {
  display: flex;
  flex-flow: $flow;
  align-items: $alignItems;
  justify-content: $justContent;
}
