//# Colors
//## Primary
$clr-red: hsl(0, 78%, 62%);
$clr-cyan: hsl(180, 62%, 55%);
$clr-orange: hsl(34, 97%, 64%);
$clr-blue: hsl(212, 86%, 64%);
//## Neutral
$clr-very-dark-blue: hsl(234, 12%, 34%);
$clr-grayish-blue: hsl(229, 6%, 66%);
$clr-very-light-gray: hsl(0, 0%, 98%);

//# Typography
//## Font sizes
$font-sizes: (
    neutral: 1rem,
    primary--100: 1.4rem,
    primary--200: 1.6rem
);
//## Font weights
$font-weights: (
    neutral--200: 200,
    neutral--400: 400,
    primary: 600
);
//## Font families
$font-stack: "Poppins", sans-serif;

//# Breakpoints
$breakpoints: (
  phone: 375px,
  tabletPortrait: 750px,
  tabletLandscape: 1024px,
  laptop: 1280px,
);

